{% extends 'login/base.html' %}
{% load static %}

{% block content %}
  <h2>Sign up</h2>
  <form class=" form-group" method="post">
    {% csrf_token %}
          {% comment %} Adding Form with All inputs Here {% endcomment %}
          {% for field in form %}
              <p class="  row-cols-6">
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
                    {% endfor %}
              </p>
          {% endfor %}


    <button class="btn btn-lg btn-primary " type="submit">Sign up</button>
<p>
    <p>
                      <a class="btn btn-lg btn-primary text-dark" href="{% url 'login' %}">Already have account</a>

  </p>

</p>


  </form>
{% endblock %}